<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>SHOP</title>
</head>
<body>
    <%- include('nav') %>

    <div class="wrap-product">
        <% for(const prod of prods) { %>
            <div class="product">
                <div class="img">
                    <img src="/images/<%= prod.images %>" alt="">
                </div>
                <div class="price">
                    <p>$<%= prod.price %></p>
                </div>
                <div class="title">
                    <h3><%= prod.name %></h3>
                </div>
                <div class="action">
                    <button class="btn">Add to cart</button>
                    <a href="/product/<%= prod.id %>" class="btn">More Detail</a>
                </div>
            </div>
           <% } %>
    </div>
</body>
</html>